{% import '_macros/global' as global %}
<div class="block--bigListAssets{% if layoutClasses is defined %} | {{ layoutClasses }}{% endif %} | space-t space-b">

    <div class="big-list -assets">
        
        {% if block.header|length %}
            <h3 class="header-lg font-serif | mb-5 | mb-6">{{ block.header }}</h3>
        {% endif %}
        
        <ul class="list-assets -hover-effect">
            {% for item in block.list.all() %}

            <li class="list-asset | flex-grid">
                
                <div class="list-asset__content">
                    <a href="{{ item.resource.url }}" target="_blank">
                        <h4 class="header-sm font-serif">{{ item.header }} </h4>
                        {% if item.supportingCopy|length %}
                            <h6 class="meta-label text-slate-light">{{ item.supportingCopy }}</h6>
                        {% endif %}
                    </a>
                </div>
                
                <div class="list-asset__action">
                    {{ global.iconLink( item.resource, '-md -icon-only text-slate hover:text-red', 'arrow-down', '-md' ) }}
                </div>
                
            </li>
            {% endfor %}
        </ul>
        
    </div>
</div>