{% import '_macros/styleguide' as guide %}
{% import '_macros/global' as global %}
{% extends "_layouts/_styleguide" %}
{% block content %}


    <h2 class="text-3xl space-b">Buttons</h2>
    
    {# Button #}
    <h3 class="mb-8">Button</h3>
    <a href="#" class="btn">Learn More</a>
    
{% set code %}{% verbatim %}{{ global.link(data.field, 'btn') }}{% endverbatim %}{% endset %}
    {{ guide.snippet( code, 'css' ) }}

    
    {# Button #}
    <h3 class="mb-8">Button -sm</h3>
    <a href="#" class="btn -sm">Learn More</a>
    
{% set code %}{% verbatim %}{{ global.link(data.field, 'btn -sm') }}{% endverbatim %}{% endset %}
    {{ guide.snippet( code, 'css' ) }}

    
    {# Button #}
    <h3 class="mb-8">Button -yellow</h3>
    <a href="#" class="btn -yellow">Learn More</a>
    
{% set code %}{% verbatim %}{{ global.link(data.field, 'btn -yellow') }}{% endverbatim %}{% endset %}
    {{ guide.snippet( code, 'css' ) }}

    {# Button #}
    <h3 class="mb-8">Button -red</h3>
    <a href="#" class="btn -red">Learn More</a>
    
{% set code %}{% verbatim %}{{ global.link(data.field, 'btn -red') }}{% endverbatim %}{% endset %}
    {{ guide.snippet( code, 'css' ) }}

    {# Button #}
    <h3 class="mb-8">Button -light</h3>
    <a href="#" class="btn -light">Learn More</a>
    
{% set code %}{% verbatim %}{{ global.link(data.field, 'btn -light') }}{% endverbatim %}{% endset %}
    {{ guide.snippet( code, 'css' ) }}


    

{% endblock %}