{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}


{% block content %}

    {# Page Header #}
    <section class="space-menu ">
        <header class="page-header | space-t space-b--sm">
            <h1 class="header-xl font-serif">Topics</h2>
                <p><strong>Note:</strong> This is purely data output, not reflective of intended layout</p>
        </header>
    </section>

    <h4>
        {% if category.level > 1 %}
            (part of a group, <a href="{{ category.parent().url }}">{{ category.parent().title }}</a>)
            <br>
        {% endif %}
        see all <a href="/{{ firstSegment }}">{{ category.group.name }}</a>
    </h4>
        
    {# Fetch all of the entries related to this category #}
    {% set entries = craft.entries.relatedTo(category) %}

    <ul>
        {% for entry in entries.all() %}
            <li>
                <a href="{{ entry.url }}">
                    {{ entry.title }} ( {{ entry.type }})
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}