{% extends "_layouts/base" %}
{% import '_macros/global' as global %}

{% set sourceSections = ['articles', 'podcasts', 'events', 'videos', 'courses'] %}
{% set sections = craft.entries({ section: sourceSections }) %}
{% set indexList = sections.relatedTo(category) %}
{% set indexCount = indexList.count %}

{% block content %}

    {# Page Header #}
    <section class="space-menu ">
        {# Page Header Content #}
        {% set content = { 
                title: category.title, 
                category: 'Topic', 
                detail: category.shortDescription,
                image: category.cardImage.one(),
                action: category.headerAction
            }
        %} 
        {# Page Header - Action #}
        {% include "_components/page-header--action" with { content: content } %}
    </section>

    <div id="filters" class="container">
        {# Filters #} 
        {% include "_components/static/filters-page" with { count: indexCount }%}
    </div>

    <div id="related" class="container--sm gutter-md | md:flex-grid | space-b--sm">
        
        {# Sections #}    
        {% for entry in indexList.all() %}
            {# Content Card - Stacked #}
            {% include '_components/content-cards' with { content: entry } %}
        {% endfor %}

    </div>


    {# <h4>
        {% if category.level > 1 %}
            (part of a group, <a href="{{ category.parent().url }}">{{ category.parent().title }}</a>)
            <br>
        {% endif %}
        see all <a href="/{{ firstSegment }}">{{ category.group.name }}</a>
    </h4>
        
    <!-- Fetch all of the entries related to this category -->
    {% set entries = craft.entries.relatedTo(category) %}

    <ul>
        {% for entry in entries.all() %}
            <li>
                <a href="{{ entry.url }}">
                    {{ entry.title }} ( {{ entry.type }})
                </a>
            </li>
        {% endfor %}
    </ul> #}

{% endblock %}