{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}


{% block content %}

    {# Page Header #}
    <section class="space-menu ">
        {% set content = { 
                    title: 'Topics'
                } 
            %}
        {% include "_components/static/page-header" with { content: content } %}
    </section>

    {# Topics List #}
    <div id="topics" class="container--sm gutter-md | md:flex-grid | space-b">

        {# Fetch all of the entries related to this category #} 
        {% set group = craft.categories.group('topics') %}
        
        <ul class="menu-list -bronze -columns | w-full | links-hover--red">
            
            {# Layout Example (static) #}
            {# {% include "_components/static/static-topic-example" %} #}

            {# Categories #}
            {% nav category in group.all() %}
                
                {# Parents #}
                {% if category.level == 1 and category.hasDescendants%}
                    <h4 class="menu-list__group-name | md:w-1/3">{{ category.title }}</h4>
                {% endif %}
                
                {# Children #}
                {% if category.level == 2 %}
                    <li class="menu-list__item">
                        <a href="{{ category.url }}" role="menuitem" aria-haspopup="false" class="menu-list__link" tabindex="0">
                            {{ category.title }}
                        </a>
                    </li>
                {% endif %}

                {% ifchildren %}
                    <li class="menu-list__group | md:w-1/3">

                        <ul>{% children %}</ul>

                    </li>
                {% endifchildren %}

            {% endnav %} 

            {# Singles #}
            {% set singles = craft.categories.group('topics').leaves().all() %}
            
            {% if singles|length %}
                <h4 class="menu-list__group-name | md:w-1/3">Misc</h4>
                
                {% for category in singles %}

                    {% if category.level == 1%}
                        <li class="menu-list__item">
                            <a href="{{ category.url }}" role="menuitem" aria-haspopup="false" class="menu-list__link" tabindex="0">
                                {{ category.title }}
                            </a>
                        </li>
                    {% endif %}

                {% endfor %}
                
            {% endif %}

            
        </ul>

    </div>


{% endblock %}
