{% extends "_layouts/_base" %} 
{% import '_macros/global' as global %}

{% block content %}

    <section class="space-menu | space-b">

        {# Video Player Full #}
        {% if entry.vimeoEmbed and entry.vimeoEmbed.valid %}
            <video_player_full
                img-src="{{ entry.vimeoEmbed.media.image }}"
                video-url="{{ entry.vimeoEmbed.media.url }}"
                aspect-ratio="{{ entry.vimeoEmbed.media.aspectRatio }}"
            />
        {% endif %}

    </section>

    {# Article + Aside (top) #}
    <div class="entry-detail-layout | container | space-b | flex-grid">

        {# Content #}
        <article class="entry-main | gutter-xl">
        
            {# Header #}
            <header class="entry__header">
                <h1 class="header-xl | font-serif">{{ entry.title }}</h1>
                {% if entry.shortDescription|length %}
                <div class="paragraphs -md">
                    <p>{{ entry.shortDescription }}</p>
                </div>
                {% endif %}
            </header>

            {# Blocks #}
            <div class="entry__blocks | longform-entry-blocks -top">

                {# Longform Content #}
                {% include '_components/longform-entry-blocks--top' with { classes: '', block: entry.contentBlocksStandard.one() } %}

            </div>
            
        </article>
        
        {# Aside #}
        <aside class="entry-aside">
            {# Meta List #}
            <ul class="meta-list">
                <li>
                    <time class="meta-label | text-slate-light" datetime="{{ entry.postDate | date( 'm-d-y') }}">{{ entry.postDate | date( 'M d, Y') }}</time>
                </li>
                <li>
                    {{ global.relatedTopics(entry.topics.all(), '') }}
                </li>
                <li>
                    {% include "_components/list-social" with { content: '', classes: '-inline', share: true } %}
                </li>
                {# <li>
                    <a href="{{ entry.podcastShow.level(1)[0].url }}" class="link -meta">Browse all Episodes</a>
                </li> #}
            </ul>

            {# Author #}
            <div class="meta-summary-block">
                <div class="meta-summary__media -narrow">
                    {{ global.image(entry.authorLink.one().photo.one(), '-is1x1 -force -fit-cover | rounded-full ')}}
                </div>
                <div class="author-bio__detail">
                    <h6>About the Author</h6>
                    <p>{{ entry.authorLink.one().shortDescription }}</p>
                </div>
            </div>
            
            {# Ad #}
            {% include "_components/product-ad" with { content: entry.productAd } %}
            
        </aside>


        {# Article + Aside (top) #}
        {% if entry.contentBlocksStandard|length>1 %}
            
            {# Content #}
            <article class="entry-main -wide">

                {# Blocks #}
                <div class="entry__blocks | longform-entry-blocks">

                    {# Longform Content #}
                    {% include '_components/longform-entry-blocks' with { classes: '', blocks: entry.contentBlocksStandard.offset(1).all() } %}

                    {# Citation #}
                    {% if entry.citation is defined %}
                        <div class="narrow-block gutter-xl">
                            <div class="article-content entry-footnote">
                                <small>{{ entry.citation }}</small>
                            </div>
                        </div>
                    {% endif %}
                    
                </div>
                
            </article>
            

        {% endif %}
    
    </div>

    {# Related Content #}
    {% include '_components/related-content-cards' with { section: 'videos' } %}


    {# Subscribe Billboard  #}
    
    {% set podcastShow = entry.podcastShow.level(1)[0] %}
    {% include '_components/billboard--subscribe' with { classes: '-bronze-light', content: podcastShow } %}


{% endblock %}