{% import '_macros/global' as global %}

{# 
    Templating Notes: 
    Run a switch statement on the entry type to build logic for which card to include, handling conditional elements like 
    event meta vs podcast show, author, podcast player, video button+player, icons, etc.  
#}

{# Check for imported properties #}
{% if classes is defined %}
    {% set classes = classes %}
{% else %}
    {% set classes = '' %}
{% endif %}

<article class="content-card -topic | {{ classes }}">

    <div class="content-card__container | flex-grid md:flex-row-reverse">
        
        {# Media #}
        <a href="#" class="content-card__media">
            {{ global.image('', '-is2x1 -fit-cover -hover-scale', '/assets/placeholder/placeholder_07.jpg')}}
        </a>    
        
        {# Content #}
        <div class="content-card__content">  

            <a href="#">
                {# Header #}
                <div class="content-card__header | mb-4">
                    <h2 class="card-title | header-sm font-serif">Q&A December 2018: Sin, Love, and Wrath</h1>
                </div>
            </a>
            
            {# Primary Meta #}
            <div class="content-card__meta -primary mb-4 | flex-grid">
                <ul class="items-bar">
                    <li>
                        <a href="#" class="align-items-center">
                            {{ global.utilityIcon('microphone', '-sm') }}
                            <div class="meta-label | ml-3">The Thinking Fellows</div>
                            <time class="meta-label | ml-5" datetime="{{ now | date( 'm-d-y') }}">{{ now | date( 'm/d/y') }}</time>
                        </a>
                    </li>
                </ul>        
            </div>
            
            {# Detail #}
            <div class="content-card__detail | paragraphs -xs -loose | mb-5">
                <p>On the fourth episode of our series on the history of the Reformation, Dr. Keith walks listeners through the early stages of Melanchthon’s theological development…</p>
            </div>

            {# Play Button #}
            <div class="content-card__action -play-podcast | mb-6">
                {# {{ global.iconLink('', 'btn -xs -media', 'play', 'Listen 12:41') }} #}
                <podcast_player_compact audio-url="https://s114.podbean.com/podmedia/data1/podcache/fs26/1031045/f437988991b25dd482fd2edaef0ed163.mp3?m=Richard_Rohr_and_The_Universal_Christ_Part_1_.mp3&mc=2&path=p1m1m2&d=44365952&p=0_1452_-1&p1=3Mm5RsMoSJx%2F5ca42b9e91735c40e96fad52.mp3&t=5cb0b240&tx=431a7a1b30158960423283f97e39ce92&session_id=3e4435fe-cd60-5c27-a31e-454fcd0f64b7" />
            </div>

            {# Secondary Meta #}
            <div class="content-card__meta -secondary">
                {{ global.relatedTopics() }}                            
            </div>

        </div>
        
    </div>

</article>