<div class="page-filters flex-grid items-center | container--sm gutter-md | space-b">
    
    <div class="filter-bar | md:w-1/2 w-full">

        {% if sections is defined %}
        <div class="item filter | mb-2">
            <select_box :opt="{ name: 'format', variant: '-md' }">
                <option value="All Formats">All Formats</option>
                {% for section in sections %}
                    <option value="{{ section.handle }}">{{ section.name }}</option>
                {% endfor %}
            </select_box>
        </div>
        {% endif %}

        {% if topics is defined %}
        <div class="item filter | mb-2">
            <select_box :opt="{ name: 'topic', variant: '-md' }">
                <option value="">All Topics</option>
                {% for topic in topics %}
                    <option value="{{ topic.id }}">{{ topic.title }}</option>
                {% endfor %}
            </select_box>
        </div>
        {% endif %}

        {% if authors is defined %}
        <div class="item filter | mb-2">
            <select_box :opt="{ name: 'author', variant: '-md' }">
                <option value="">By any Author</option>
                {% for author in authors %}
                    <option value="{{ author.id }}">{{ author.title }}</option>
                {% endfor %}
            </select_box>
        </div>
        {% endif %}

    </div>
    
    {% if count is defined %}
        <div class="page-filters__meta | md:w-1/2 w-full | text-right">
            <div class="meta-label">
            {{ count }}
            {% if count == 1 %}
                Entry
            {% else %}
                Entries
            {% endif %}
            </div>
        </div>
    {% endif %}
    
</div>