{% extends "_layouts/_base" %}

{% block content %}
    <h1>
        {{ entry.title }}
    </h1>

    <p>
        {{ entry.description }}
    </p>

    <h2>Topics</h2>
    {% if entry.topics|length %}
        <ul>
            {% for category in entry.topics.all() %}
                <li>
                    <a href="{{ category.url }}">
                        {{ category.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if entry.vimeoEmbed and entry.vimeoEmbed.valid %}
        <p>
            <img id="x" src={{ entry.vimeoEmbed.media.image }}">
            {{ entry.vimeoEmbed.render }}
        </p>
        {% js %}
            var iframe = document.querySelector('iframe');
            var player = new Vimeo.Player(iframe);

            var x = document.querySelector('#x');
            x.addEventListener('click', function() {
                player.play();
            })

            player.on('play', function() {
                console.log('Played the video');
            });

            player.getVideoTitle().then(function(title) {
                console.log('title:', title);
            });
        {% endjs %}
    {% endif %}

{% endblock %}