Sending email for order {{ order.shortNumber }}

{% for item in order.lineItems %}
{% set product = craft.products.id(206).one %}
Full Desc: {{product.fullDescription}}
{# <pre>
    {{ dump(product.ebookUploads) }}
</pre> #}
{# {{item.id}} #}
        {# <td>
            <strong>{{ item.description }}</strong><br>
            SKU: {{ item.sku }}
        </td> #}
        {# <td>{{ product.fullDescription }}</td> #}
        {# {% for upload in product.ebookUploads %}
            {# <pre>
                {{ dump(upload.asset.one) }}
            </pre> #}
            {{ upload.format ~ ' ' ~ upload.asset.one.optimize.src() }}
        {% endfor %} #}
{% endfor %}