{% import '_macros/global' as global %}

{# Options/Content 

    - header
    - description
    - button
    - buttonStyle
    - background
    - image (optional)

    - sage
    - slate
    - bronze-light
    - red
    - center
#}

{# Check for imported properties #}
{% if classes is defined %}
{% set classes = classes %}
{% else %}
{% set classes = '' %}
{% endif %}

<div class="billboard -text | {{content.background}} {{classes}} | no-print">
    <div class="billboard__container container">

        <header class="billboard__content | gutter">

            <div class="billboard__content-max">
                {# Header #}
                {% if content.header is defined %}
                <div class="billboard__header">
                    <h4 class="billboard-title">{{ content.header | raw }}</h4>
                </div>
                {% endif %}

                {# Detail #}
                {% if content.description is defined %}
                    <div class="billboard__detail | paragraphs -sm">
                        {{ content.description }}
                    </div>
                {% endif %}

                {# Action #}
                {% if content.button is defined %}
                    <div class="billboard__action">
                        {{ global.link( content.button, content.buttonStyle ) }}
                    </div>
                {% endif %}

            </div>
            
        </header>

        {% if content.image|length %}
            <div class="billboard__media">
                {{ global.image( content.image.one, '-is1x1 -fit-cover -hover-scale' )}}
            </div>
        {% endif %}
    </div>
</div>