{% import '_macros/global' as global %}
{% set donate = craft.entries.slug('donate').one() %}

<div class="billboard -donate | no-print{% if classes is defined %} | {{ classes }}{% endif %}">
    <div class="billboard__container container--sm | flex-grid | space-t">
        <header class="billboard__content | gutter | md:w-2/3">
            <div class="billboard__detail | space-b--sm">
                <h5 class="header-xs font-serif | text-bronze | mb-2">
                    {{ donate.supportingText }}
                </h5>
                <h2 class="header-lg font-serif">
                    {{ donate.description }}
                </h2>
            </div>
            <form class="billboard__action " id="donate-form" action="/donate">
                <div class="meta-label | mb-4 ">Choose Amount:</div>

                <div class="option-group -equalize -start ">

                {% js at endBody %}
                    var submitForm = function() {
                        var form = document.querySelector('#donate-form');
                        form.submit();
                    }
                {% endjs %}

                {% for amount in donate.donatelyAmounts.all() %}
                    <label
                        class="option-group__item | control control--radio-box"
                        for="option-{{ amount.number }}"
                        onclick="submitForm()"
                    >
                        <input
                            id="option-{{ amount.number }}"
                            name="donately"
                            type="radio"
                            value="{{ amount.number }}"
                        >
                        <span class="control__text | mb-4 text-center | sm:w-full sm:mb-0">${{ amount.number }}</span>
                    </label>
                {% endfor %}

                </div>
            </form>
        </header>

        <div class="billboard__media | md:w-1/3">
            {{
                global.image(
                    donate.image.one(),
                    '-is1x1 -fit-cover'
                )
            }}
        </div>
    </div>
</div>
