{% import '_macros/global' as global %}

{# Options/Content 

    - header
    - description
    - button
    - buttonStyle
    - background
    - image 

    - sage
    - slate
    - bronze-light
    - red

    WHEN NO IMAGE IS DEFINED: This billboard automatically changes into Billboard Text Centered as a design fallback.
#}

<div class="billboard -text | relative {% if block.image|length %} -floated-img{% else %} -center{% endif%} | {{ block.backgroundColor }} | no-print">
    <div class="billboard__container | relative z-10 container">

        {% if block.image|length %}
            <div class="billboard__media">
                <div class="billboard__floated">
                    {{ global.image( block.image.one(), '-fit-cover' )}}
                </div>
            </div>
        {% endif %}

        <header class="billboard__content | gutter">

            <div
                class="billboard__content-max">
                {# Header #}
                {% if block.header is defined %}
                    <div class="billboard__header">
                        <h4 class="billboard-title">{{ block.header }}</h4>
                    </div>
                {% endif %}

                {# Detail #}
                {% if block.description is defined %}
                    <div class="billboard__detail | paragraphs -sm">
                        {{ block.description }}
                    </div>
                {% endif %}

                {# Action #}
                {% if block.button|length %}
                    <div class="billboard__action">
                        {{ global.link(block.button, block.buttonStyle)}}
                    </div>
                {% endif %}
            </div>

        </header>

    </div>

    {# Pattern #}
    {{ global.patterns( "one", "-sage") }}
</div>
