{% import '_macros/global' as global %}

<div class="billboard -text -subscribe {% if classes is defined %} | {{classes}} {% endif %}| no-print">
    <div class="billboard__container container">

        <header class="billboard__content | gutter">

            {# Header #}
            {% if content.header is defined %}
            <div class="billboard__header">
                <h4 class="billboard-title">{{ content.subscribeHeader  }}</h4>
            </div>
            {% endif %}

            {# Detail #}
            {% if content.detail is defined %}
            <div class="billboard__detail | paragraphs -sm">
                {{ content.subscribeDescription  }}
            </div>
            {% endif %}

            {# Action #}
            {% if content.action is defined %}
            <div class="billboard__action">
                {{ global.iconLink(content.applePodcastLink, 'btn -outline -bronze -reverse', 'podcast', '-sm') }}

                {# Streaming Services #}

                {% if content.streamingServices|length %}
                <div class="pt-4">
                    {% include "_components/list-streaming-services" with { content: content.streamingServices, classes: '-inline -rounded -light-bronze -has-image' } %}
                </div>
                {% endif %}
            </div>
            {% endif %}

        </header>

        {% if content.image is defined %}
            <div class="billboard__media">

                {{ global.devices('iphone', content.subscribeImage.one().optimize.src) }}

            </div>
        {% endif %}
    </div>
</div>
