{% import '_macros/global' as global %}

{# Bio Cards require an image #}
{% if bioContent.photo|length %}
<div class="bio-card | -hover-border -hover-links">
    
    {# Media #}
    <div class="bio-card__media">
        {{ global.image(bioContent.photo, '-is1x1 -fit-cover bg-ivory-lightest' )}}
    </div>
    

    {# Content #}
    <div class="bio-card__content">
        <header class="bio-card__header">
            <h4 class="title font-serif header-md">{{ bioContent.fullName }}</h4>
            <div class="meta-label">
                {{ bioContent.role }}
            </div>
        </header>

        <article class="bio-card__detail | text-slate-light paragraphs -xs | md:y-overflow-gradient">
            <p>{{ bioContent.shortDescription }}</p>
            {{ global.link(bioContent.button, 'link | meta-label')}}
        </article>
    </div>
    
</div>
{% endif %}