{% import '_macros/global' as global %}

<article class="content-card -topic{% if classes is defined %} | {{ classes }}{% endif %}">

    <div class="content-card__container | flex-grid md:flex-row-reverse">
        
        {# Media #}
        <a href="#" class="content-card__media | no-print">
            {{ global.image(content.cardImage.one(), '-is2x1 -fit-cover -hover-scale')}}
        </a>
        
        {# Content #}
        <div class="content-card__content">  

            <a href="#">
                {# Header #}
                <div class="content-card__header | mb-4">
                    <h2 class="card-title | header-sm font-serif">{{ content.title }}</h2>
                </div>
            </a>
            
            {# Primary Meta #}
            <div class="content-card__meta -primary mb-4 | flex-grid">
                <ul class="items-bar">
                    <li>
                        {% for author in content.authorLink.all() %}
                            <a href="{{ author.url }}" class="align-items-center">
                                {{ global.utilityIcon('library', '-sm') }}
                                <div class="meta-label | ml-3">
                                    {{ author.firstName }} {{ author.lastName }}
                                </div>
                            </a>
                        {% endfor %}
                    </li>
                </ul>          
            </div>
            
            {# Detail #}
            <div class="content-card__detail | paragraphs -xs -loose | mb-4">
                {{ content.shortDescription | chop(limit=60, unit='w', append= '…') }}
            </div>

            {# Secondary Meta #}
            <div class="content-card__meta -secondary">
                {{ global.relatedTopics(content.topics.all(), '') }}
            </div>

        </div>
        
    </div>

</article>