{% import '_macros/global' as global %}

<article class="content-card -stacked | {{ classes }}">

    <div class="content-card__container">
        
        {# Content #}
        <div class="content-card__content">  
            
            {# Topic #}
            <h4 class="content-label">
                <a href="{{ content.topics[0].url }}">{{ content.topics[0].title }}</a>
            </h4>

            <a href="{{ content.url }}" class="block">
                {# Header #}
                <div class="content-card__header">
                    <h2 class="card-title | header-base font-serif">{{ content.title }}</h1>
                </div>
                
                {# Detail #}
                <div class="content-card__detail | paragraphs -xs">
                    {{ content.description }}
                </div>
            </a>

        </div>
        
        {# Media #}
        <a href="{{ content.url }}" class="content-card__media">
            {{ global.image('', '-is2x1 -fit-cover -hover-scale', '/assets/placeholder/placeholder_02.jpg')}}
        </a>

        {# Meta #}
        <div class="content-card__meta | flex-grid">

            <a href="{{ content.url }}" class="meta-label">By {{ content.author }}</a>
        
            <time class="meta-label" datetime="{{ content.postDate | date( 'm-d-y') }}">{{ content.postDate | date( 'm/d/y') }}</time>
            
        </div>
    </div>

</article>