{% import '_macros/global' as global %}

{# Content #}
<article class="content-card -stacked | {% if classes is defined %}{{ classes }}{% endif %}">

    <div class="content-card__container">

        {# Content #}
        <div class="content-card__content">

            {# Topic #}
            {% include '_components/getTopCategory' %}

            <a href="{{ content.url }}" class="block">
                {# Header #}
                <div class="content-card__header">
                    <h2 class="card-title | header-base font-serif">{{ content.title }}</h2>
                </div>

                {# Detail #}
                <div class="content-card__detail | paragraphs -xs">
                    {{ content.description }}
                </div>
            </a>

        </div>

        {# Media #}
        <a href="{{ content.url }}" class="content-card__media | no-print">
            {{ global.image('', '-is2x1 -fit-cover -hover-scale', '/assets/placeholder/placeholder_02.jpg')}}
        </a>

        {# Meta #}
        <div class="content-card__meta | flex-grid">

            {# Get Contributor #}
            {% include '_components/getContentContributor' %}
            
            <time class="meta-label"
                datetime="{{ content.postDate | date( 'm-d-y') }}">{{ content.postDate | date( 'm/d/y') }}</time>

        </div>
    </div>

</article>

