{% import '_macros/global' as global %}

<article class="content-card -topic{% if classes is defined %} | {{ classes }}{% endif %}">

    <div class="content-card__container | flex-grid md:flex-row-reverse">
      
        {# Media #}
        <a href="{{ content.url }}" class="content-card__media | no-print">
            {{ global.image(content.cardImage.one(), '-is2x1 -fit-cover -hover-scale')}}
        </a>

        {# Content #}
        <div class="content-card__content">  

            <a href="{{ content.url }}">
                {# Header #}
                <div class="content-card__header | mb-4">
                    <h2 class="card-title | header-sm font-serif">{{ content.title }}</h2>
                </div>
            </a>
            
            {# Primary Meta #}
            <div class="content-card__meta -primary mb-4 | flex-grid">
                <ul class="items-bar">
                    <li>
                        <a href="{{ content.url }}" class="align-items-center">
                            {{ global.utilityIcon('calendar', '-sm') }}
                            <div class="meta-label | ml-3">
                                {% if content.eventStartDate %}
                                    {% set dates = [content.eventStartDate] %}
                                    {% if content.eventEndDate %}
                                        {% set dates = dates|merge([content.eventEndDate]) %}
                                    {% endif %}
                                    {% include "_components/dates" with { dates: dates } %}
                                {% endif %}
                            </div>
                        </a>
                    </li>

                    {% set location = content.location.parts %}
                    {% set cityState = location.city ~ ', ' ~ location.state %}
                    <li>
                        <a href="https://www.google.com/maps/place/{{ location.address ~ ' ' ~ cityState ~ ' ' ~ location.postcode }}" target="_blank" class="align-items-center">
                            {{ global.utilityIcon('map-pin', '-sm') }}
                            <div class="meta-label | ml-2">{{ cityState }}</div>
                        </a>
                    </li>
                </ul>        
            </div>
            
            {# Detail #}
            <div class="content-card__detail | paragraphs -xs -loose | mb-4">
                {{ content.shortDescription | chop(limit=60, unit='w', append= '…') }}
            </div>

            {# Secondary Meta #}
            <div class="content-card__meta -secondary">
                {{ global.relatedTopics(content.topics.all(), '') }}
            </div>

        </div>
        
    </div>

</article>