{# Required
    - Count 
    - Series
    - Topics
#}

<div class="page-filters flex-grid items-center | container--sm gutter-md | space-b">

    <div class="filter-bar | md:w-1/2 w-full">
        {% if hasSeries %}
        <div class="item filter | mb-2">
            <select_box :opt="{ name: 'format', variant: '-md' }">
                <option value="All Formats" selected>All Series</option>
                {% for series in relatedSeries.all() %}
                    <option value="{{ series.url }}">{{ series.title }}</option>
                {% endfor %}
            </select_box>
        </div>
        {% endif %}

        <div class="item filter | mb-2">
            <select_box :opt="{ name: 'topic', variant: '-md' }">
                <option value="All Topics" selected>All Topics</option>
                    {% for topic in relatedTopics %}        
                        <option value="{{ topic.url }}">{{ topic.title }}</option>
                    {% endfor %}
            </select_box>
        </div>

    </div>
    
    <div class="page-filters__meta | md:w-1/2 w-full | text-right">
        <div class="meta-label">
            {{ count }} {% if count == 1 %}Entry{% else %}Entries{% endif %} </div>
    </div>
</div>