{# Required: Count #}

<div class="page-filters flex-grid items-center | container--sm gutter-md | space-b">

    <div class="filter-bar | md:w-1/2 w-full">
    {% if contentFormats is defined %}
        <div class="item filter | mb-2">
            <select_box :opt="{ name: 'format', variant: '-md' }">
                {% set contentFormats = ['articles', 'podcasts', 'events', 'videos', 'courses'] %}
                <option value="All Formats" selected>All Formats</option>
                    {% for format in contentFormats %}
                        <option value="{{format}}">{{format}}</option>
                    {% endfor %}
        </div>
    {% endif %}


    {% if topics is defined %}
        <div class="item filter | mb-2">
            <select_box :opt="{ name: 'topic', variant: '-md' }">
                <option value="All Topics" selected>All Topics</option>
                    {% for topic in topics %}        
                        <option value="{{ topic.url }}">{{ topic.title }}</option>
                    {% endfor %}
            </select_box>
        </div>
    {% endif %}

    </div>
    
    <div class="page-filters__meta | md:w-1/2 w-full | text-right">
        <div class="meta-label">
            {{ count }} {% if count == 1 %}Entry{% else %}Entries{% endif %} </div>
    </div>
</div>