{% import '_macros/global' as global %}
{# Defaults to stacked #}
{# Check for imported properties #}
{% if size is defined %}
    {% set size = size %}
{% else %}
    {% set size = '-sm' %}
{% endif %}

{% if classes is defined %}
    {% set classes = classes %}
{% else %}
    {% set classes = '' %}
{% endif %}


{% if print is defined and print == true %}
    {% set print = true %}
{% else %}
    {% set print = false %}
{% endif %}


{% if share is defined and share == true%}
    {% set share = true %}
{% else %}
    {% set share = false %}
{% endif %}

<ul class="social-list {{ classes }} | no-print">
    
    {# Print #}
    {% if print %}
        <li>
            <print />
        </li>
    {% endif %}

    {# Share Icons #}
    {% if share %}
        <!-- Go to www.addthis.com/dashboard to customize your tools --> 
        <li class="addthis-tools | relative">
            <div class="addthis_inline_share_toolbox | absolute w-full pin-t pin-l"></div>
            <ul class="addthis-tools__custom-icons | list-reset">
                <li>
                    <share :target="'https://github.com/TelegraphCreative/'" rel="Share on facebook">
                        {{ global.socialIcon( 'facebook', size ) }}
                    </share>
                </li>
                <li>
                    <share :target="'https://github.com/TelegraphCreative/'" rel="Share on twitter">
                        {{ global.socialIcon( 'twitter', size ) }}
                    </share>
                </li>
                <li>
                    <share :subject="'A Subject'" :message="'A message'" rel="Share on twitter">
                        {{ global.socialIcon( 'email', size ) }}
                    </share>
                </li>
            </ul>
        </li>

    {# Social Icons #}
    {% else %}
        {% for link in content.all() %}
        <li>
            <a href="{{ link.href }}" target="_blank" rel="{{ link.channel }}">
                {{ global.socialIcon(link.channel, size) }}
            </a>
        </li>
        {% endfor %}
    
    {% endif %}

</ul>