{% import '_macros/global' as global %}
{% if content is defined %}

    {% for block in content.all() %}

        {% switch block.type %}
            {% case "customAd" %}
                <div class="meta-summary-block">
                    <div class="meta-summary__media">
                        {{ global.image( block.image.one(), '-fit-cover bg-ivory-lightest')}}
                    </div>
                    <div class="meta-summary__detail">
                        <h6>{{ block.header }}</h6>
                        {{ block.description | chop(limit=20, allowedTags='<p><b><i><strong>', unit='w', append= '…')}}
                    </div>
                </div>
                
            {% case "productLink" %}
                <div class="meta-summary-block">
                    <a href="{{ block.product.one().url }}" class="meta-summary__media block">
                        {{ global.image( block.product.one().cardImageProduct.one(), '-fit-cover -hover-scale bg-ivory-lightest')}}
                    </a>
                    <div class="meta-summary__detail">
                        <h6>
                            <a href="{{ block.product.one().url }}" class="hover:text-bronze">
                                {{ block.product.one().title }}
                            </a>
                        </h6>

                        <p>{{ block.product.one().shortDescription }}</p>
                        <p>{{ block.product.one().defaultVariant.salePrice|commerceCurrency(cart.currency) }}</p>
                    </div>
                </div>
            
        {% endswitch %}

    {% endfor %}
{% endif %}