{% extends "_layouts/_base" %} 
{% import '_macros/global' as global %}

{% set sourceSections = ['articles', 'podcasts', 'events', 'videos', 'courses'] %}

{% set sections = craft.entries({ section: sourceSections }) %}
{% set entries = sections.relatedTo(category) %}
{% set count = entries.count %} 

{% set topics = craft.categories.group('topics') %}
{% set relatedTopics = topics.relatedTo(entries).all() %}


{% block content %} 

    <section class="space-menu ">
        {# Page Header Content #}
        {% set content = { 
                title: category.title, 
                category: 'Sections', 
                detail: category.shortDescription,
                image: category.cardImagePodcast.one(),
                action: category.headerAction
            }
        %} 
        {# Page Header - Action #}
        {% include "_components/page-header--action" with { content: content } %}

    </section>

    {# Featured Card #}
    {% if category.featuredContent|length %}
        {% set featuredSingle = '' %}
        {% set background = '' %}
        {% for method in category.featuredContent.all() %}
            {# Data based on Method #}
            {% switch method.type %}
                
                {# Pull Latest #}
                {% case "pullLatest" %}

                    {% set featuredSingle = entries.one() %}
                
                {# Pull Featured #}
                {% case "pullFeatured" %}

                    {% set featuredSingle = method.featuredFrom.one() %}

            {% endswitch %}

            {# Set Background #}
            {% set background = method.background %}

        {% endfor %}
        <div id="featured" class="container | space-b">

            {# Content Hero - Switches based on Format #} 
            {% include '_components/content-hero' with { content: featuredSingle, 'classes': background } %}

        </div>
    {% endif %}
    


    <div id="filters" class="container">
        {# Filters #} 
        {% include "_components/filters-page--sections" with {topics: relatedTopics} %}
    </div>


    {# Card List #}
    <div id="sections" class="container--sm gutter-md | space-b">

        
        {# Content Card - Podcast #} 
        {% for entry in entries.all() %}

            {# Content Cards - Switches based on Format #} 
            {% include '_components/content-cards' with { content: entry } %}
            
        {% endfor %}
        
    </div>

   

{# <h1>
    {{ category.title }}
</h1>
<h4>
    {% if category.level > 1 %}
        (series of <a href="{{ category.parent().url }}">{{ category.parent().title }}</a>)
    {% endif %}
</h4>


<h2>Episodes</h2>
    
<!-- Fetch all of the entries related to this category -->
{% set section = craft.entries.section('podcasts') %}
{% set entries = section.relatedTo(category) %}

<ul>
    {% for entry in entries.all() %}
        <li>
            <a href="{{ entry.url }}">
                {{ entry.title }}
            </a>
        </li>
    {% endfor %}
</ul> #}



{% endblock %}
