{% extends "_layouts/base" %} 
{% import '_macros/global' as global %} 

{# {% set searchQuery = '"' ~ craft.app.request.getParam('q') %}
{% set format = craft.app.request.getParam('format') %}
{% set topic = craft.app.request.getParam('topic') %}
{% set author = craft.app.request.getParam('author') %}

{% set allSections = craft.app.sections.allSections %}
{% set sections = [] %}
{% for section in allSections %}
    {% if section.type == 'channel' and section.handle != 'authors' %}
        {% set sections = sections|merge([section]) %}
    {% endif %}
{% endfor %}
{% set topics = craft.categories().group('topics').orderBy('title asc').all() %}
{% set authors = craft.entries.section('authors').orderBy('firstName asc').all() %}

{% set sectionFilter = format ?: sections|join(',') %}

{% set topicCat = topic ? craft.categories.group('topics').id(topic).one() %}
{% set authorCat = author ? craft.entries.section('authors').id(author).one() %}
{% set topicParam = topicCat ? { targetElement: topicCat } %}
{% set authorParam = authorCat ? { targetElement: authorCat, field: 'authorLink' } %}
{% set relationParams = [topicParam, authorParam]|filter %}

{% set entries = craft.entries({
    search: searchQuery,
    section: sectionFilter,
    orderBy: 'postDate desc',
    relatedTo: relationParams ? ['and']|merge(relationParams) : null
}) %}

{% set pageLimit = 5 %}
{% paginate entries.limit(pageLimit) as pageInfo, pageEntries %}

{% if pageInfo.nextUrl %}
    {% set nextUrl = url(pageInfo.nextUrl, {
        format: format,
        topic: topic,
        author: author,
        q: searchQuery 
    }) %}
{% endif %} #}

{# ============================= #}

{# entries query #}
{% set entries = craft.entries({
    section: 'articles, podcasts, videos',
    orderBy: 'postDate desc',
}) %}

{% do craft.viewCount.sort(entries) %}
{% set entries = entries | slice(0, 5) %}

{# {% do craft.viewCount.increment(46795) %}
{% do craft.viewCount.increment(46795) %}
{% do craft.viewCount.increment(46795) %}
{% do craft.viewCount.increment(46795) %}
{% do craft.viewCount.increment(46795) %}
{% do craft.viewCount.increment(46795) %}

{% do craft.viewCount.increment(46019) %}
{% do craft.viewCount.increment(46019) %}
{% do craft.viewCount.increment(46019) %}
{% do craft.viewCount.increment(46019) %}
{% do craft.viewCount.increment(46019) %}
{% do craft.viewCount.increment(46019) %}
{% do craft.viewCount.increment(46019) %}
{% do craft.viewCount.increment(46019) %}
{% do craft.viewCount.increment(46019) %}
{% do craft.viewCount.increment(46019) %} #}

{# count #}
{% set count = entries|length %}

{% block content %}

    <h1>Count: {{ count }}</h1>
    <h1>Count: {{ count }}</h1>
    <h1>Count: {{ count }}</h1>
    <h1>Count: {{ count }}</h1>

    {% for item in entries %}
        <p>{{ item.title }}</p>
        <p>{{ item.author.firstName}}</p>
    {% endfor %}

    {# <section class="space-menu ">        
        <div class="space-b--sm">
            {% include "_components/form-search" %}
        </div>
        {% include "_components/filters-page" %}
    </section>

    <div id="content" class="page-entries container--sm gutter-md | space-b">

        {% if pageEntries|length %}
            {% for entry in pageEntries %}
                {% include "_components/content-cards" with { content: entry } %}
            {% endfor %}
        {% else %}
            <p>Sorry, your search didn't match any results.</p>    
        {% endif %}
        
    </div>

    {% include "_components/pagination" %} #}

{% endblock %}
