{% extends "_layouts/base" %}
{% import '_macros/global' as global %}

{% set variantId = craft.app.request.getParam('type') ?: product.defaultVariantId %}
{% set variant = craft.variants.id(variantId).one() %}
{% set type = product.getType() %}

{% block content %}

{# TODO: handle products out of stock, sales? #}

    {# Layout #}
    <section
        class="product-detail-layout | space-menu | flex-grid">

        {# Main #}
        <article class="entry-main">

            {# Nav #}
            <nav aria-label="Browse all products in this section" class="breadcrumbs">
                <ul class="list-reset">
                    <li>
                        {# bleh. url({ param: value}) not working? #}
                        <a class="link -underline -sm " href="{{ url('shop', 'type=' ~ type) }}">
                            Shop / {{ type }}
                        </a>
                    </li>
                </ul>
            </nav>

            {# Header #}
            <header class="entry__header" itemscope itemtype="http://schema.org/Product">
                <h1 class="title | header-md | font-serif | mt-8" itemprop="name">
                    {{ product.title }}
                </h1>
                <div class="detail | text-slate-light text-lg | mt-6" itemprop="description">
                    {{ product.author }}
                </div>
                <div class="price | text-slate-light text-lg | mt-2" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <meta content="USD" itemprop="priceCurrency"/>
                    <span class="amount" itemprop="price">{{ variant.price|commerceCurrency(cart.currency) }}</span>
                </div>

                {# Purchase Form #}
                <form action="" class="form-base -purchase | mt-6">

                    <div class="form-group -start">
                        <div class="field-group">
                            <select_box
                                :opt="{ name: 'type', variant: '-md' }"
                                value="{{ variantId }}"
                            >
                            {% for purchasable in product.variants %}
                                <option {% if purchasable.stock <= 0 and purchasable.hasUnlimitedStock == false %}disabled {% endif %}
                                        value="{{ purchasable.id }}">
                                    {{ purchasable.bookType }}
                                </option>
                            {% endfor %}
                            </select_box>
                        </div>
                    </div>

                    <div class="form-group -start">
                        <div class="field-group">
                            <input min="1" type="number" value="1">
                        </div>
                        <div class="field-group">
                            <button class="btn -red -md">Add to Cart</button>
                        </div>
                    </div>

                </form>
            </header>

            {# Content Blocks #}
            <div class="entry__blocks">
                <div class="paragraphs -md -loose | article-content">
                    <p>{{ product.fullDescription }}</p>

                {% if product.audioBookLinks | length %}
                    <p>The audio book version of this title is available through these retailers:</p>

                    <ul>
                        {% for link in product.audioBookLinks.all() %}
                            <li>
                                <a href="{{ link.audioUrl }}" target="_blank">{{ link.description }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                </div>
            </div>
        </article>

        {# Aside #}
        <div class="entry-aside">
            <div class="product-image">
                {{ global.image( product.cardImageProduct.one(), '-fit-cover' )}}
            </div>
        </div>

    </section>

{% endblock %}
