{% extends "_layouts/base" %} 
{% import '_macros/global' as global %}

{% block content %}

{% set cardImage = entry.cardImage.one() %}
{% set shortCopy = entry.shortDescription %}

<section class="space-menu | space-b | no-print">
    {# TEMP: Anon/SignedIn Placeholder Logic #}
    {% if currentUser %}
    {# Signed In View:
        - Hides `course-hero--anon` partial
        - Shows full article #}

        {# TEMP: Use `page-hero--media` partial mapped to corresponding entry fields instead #}
        {{ global.image( cardImage, '-fit-cover' )}}

    {% else %}
    {# Anon User View:
        - Shows `course-hero--anon` partial
        - Shows first 2 blocks from entry long-form matrix field #}

        {# Course Billboard #}
        {% include "_components/static/course-hero--anon-user" %}

    {% endif %}

</section>

{# Article + Aside  (all users get first article and aside elements #}
<div class="entry-detail-layout | container | space-b | flex-grid">

    {# Content #}
    <article class="entry-main | gutter-xl">

        {# Header #}
        <header class="entry__header">
            <h1 class="header-xl | font-serif">{{ entry.title }}</h1>
            <div class="paragraphs -md">
                {{ shortCopy }}
            </div>
        </header>

        {# Blocks #}
        <div class="entry__blocks | longform-entry-blocks -top">
            {# Longform Content #}
            {% include '_components/longform-entry-blocks' with { classes: '', blocks: entry.contentBlocksCourse } %}
        </div>

    </article>

    {# Aside #}
    <aside class="entry-aside">
        {# Meta List #}
        <ul class="meta-list">
            <li class="display-print">
                <time class="meta-label | text-slate-light"
                    datetime="{{ now | date( 'm-d-y') }}">{{ now | date( 'M d, Y') }}</time>
            </li>
            <li>
                {{ global.relatedTopics('', '') }}
            </li>
            <li>
                {% include "_components/list-social" with { content: '', classes: '-inline', print: false, share: true } %}
            </li>
        </ul>

        {# Author #}
        <div class="meta-summary-block">
            <div class="meta-summary__media -narrow">
                {{ global.image(entry.authorLink.one().photo.one(), '-is1x1 -force -fit-cover | rounded-full ')}}
            </div>
            <div class="author-bio__detail">
                <h6>About the Author</h6>
                <p>{{ entry.authorLink.one().shortDescription }}</p>
            </div>
        </div>

    </aside>

    {% if currentUser %}
        {# Article + Aside (bottom) - Only signed in users get this #}
        <article class="entry-main -wide">

            {# Blocks #}
            <div class="entry__blocks | longform-entry-blocks">

                {# Longform Content #}
                {# Use actual partial: #}
                {# {% include '_components/longform-entry-blocks' with { blocks: entry.contentBlocksStandard.offset(1).all(), layoutClasses: 'narrow-block gutter-xl' } %} #}

                {# Example Content #}

                {# Case - Bio Cards --simple (3up) #}
                <div class="bio-cards--simple | narrow-block gutter-xl | space-b">
                    <h3 class="header-lg text-bronze-lighter font-serif pb-10">Speakers</h3>

                    <ul class="list-bios">
                        <li class="bio-item -hover-links">
                            <div class="bio-item__media">
                                {{ global.image( cardImage, '-is1x1 -fit-cover rounded-full' )}}
                            </div>
                            <div class="bio-item__content">
                                <h3 class="title">Jane Smith</h3>
                                <a href="#" class="link | meta-label">See Bio</a>
                            </div>
                        </li>

                        <li class="bio-item -hover-links">
                            <div class="bio-item__media">
                                {{ global.image( cardImage, '-is1x1 -fit-cover rounded-full' )}}
                            </div>
                            <div class="bio-item__content">
                                <h3 class="title">Jane Smith</h3>
                                <a href="#" class="link | meta-label">See Bio</a>
                            </div>
                        </li>

                        <li class="bio-item -hover-links">
                            <div class="bio-item__media">
                                {{ global.image( cardImage, '-is1x1 -fit-cover rounded-full' )}}
                            </div>
                            <div class="bio-item__content">
                                <h3 class="title">Jane Smith</h3>
                                <a href="#" class="link | meta-label">See Bio</a>
                            </div>
                        </li>

                        <li class="bio-item -hover-links">
                            <div class="bio-item__media">
                                {{ global.image( cardImage, '-is1x1 -fit-cover rounded-full' )}}
                            </div>
                            <div class="bio-item__content">
                                <h3 class="title">Jane Smith</h3>
                                <a href="#" class="link | meta-label">See Bio</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    {% endif %}
</div>

{# Related Content #}
{% include '_components/related-content-cards' with { section: 'courses' } %}

{# Text Billboard - placeholder content#}
{% set content = { 
    header: 'Subscribe to You Are Forgiven',
    detail: '<p>Subscribe (it’s free!) in your favorite podcast app.</p>',
    buttons: 'btn -outline -reverse', 
    action: 'Apple Podcasts',
    image: '/assets/placeholder/placeholder_05.png'
}%}
{# Text Billboard - basic #}
{% include '_components/static/billboard--subscribe' with { classes: '-bronze-light', content: content } %}

{% endblock %}