{% extends "_layouts/_base" %} 
{% import '_macros/global' as global %}

{% block content %}

    <section class="space-menu | space-b">

        {# Podcast Player Full #}
        {% set rel = entry.podcastEmbed.one() %}
        {% if rel %}
            <podcast_player_full title="{{ entry.title }}" filename="{{ rel.filename }}" />
        {% endif %}

    </section>

    {# Article + Aside  #}
    <div class="entry-detail-layout | container | space-b | flex-grid">

        {# Content #}
        <article class="entry-main | gutter-xl">
        
            {# Header #}
            <header class="entry__header">
                <h1 class="header-xl | font-serif">{{ entry.title }}</h1>
            </header>

            {# Blocks #}
            <div class="entry__blocks">

                {# Longform Content #}
                {% include '_components/longform-entry-blocks' with { classes: '', blocks: entry.contentBlocksPodcast } %}

                {# Citation #}
                {% if entry.citation is defined %}
                    <div class="article-content entry-footnote">
                        <small>{{ entry.citation }}</small>
                    </div>
                {% endif %}
                
            </div>
            
        </article>
        
        {# Aside #}
        <aside class="entry-aside">
            {# Meta List #}
            <ul class="meta-list">
                <li>
                    <time class="meta-label | text-slate-light" datetime="{{ entry.postDate | date( 'm-d-y') }}">{{ entry.postDate | date( 'M d, Y') }}</time>
                </li>
                <li>
                    {{ global.relatedTopics(entry.topics.all(), '') }}
                </li>
                <li>
                    {% include "_components/list-social" with { content: '', classes: '-inline', share: true } %}
                </li>
                <li>
                    {% for category in entry.podcastShow.level(1).all() %}
                        <a href="{{ category.url }}" class="link -meta">Browse all Episodes</a>
                    {% endfor %}
                </li>
            </ul>
            
            {# Ad #}
            {% include "_components/product-ad" with { content: entry.productAd } %}
            
        </aside>


    </div>


    {# Text Billboard - placeholder content#}
    {% set content = { 
        header: 'Subscribe to You Are Forgiven',
        detail: '<p>Subscribe (it’s free!) in your favorite podcast app.</p>',
        buttons: 'btn -outline -reverse', 
        action: 'Apple Podcasts',
        image: '/assets/placeholder/placeholder_05.png'
    }%}
    {# Text Billboard - basic #}
    {% include '_components/static/billboard--subscribe' with { classes: '-bronze-light', content: content } %}


    
    {# Margin just for testing #}
    {# <h1 class="mt-24 ">
        {{ entry.title }}
    </h1>

    {% if entry.topics|length %}
        <ul>
            {% for category in entry.topics.all() %}
                <li>
                        {{ category.title }}
                        {{ category.url }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    

    <p>
        {{ entry.description }}
    </p>

    {% if entry.podcastShow|length %}
        <h2>Show</h2>
        <ul>
            {% for category in entry.podcastShow.level(1).all() %}
                <li>
                    <a href="{{ category.url }}">
                        {{ category.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if entry.podcastShow.level(2)|length %}
        <h2>Series</h2>
        <ul>
            {% for category in entry.podcastShow.level(2).all() %}
                <li>
                    <a href="{{ category.url }}">
                        {{ category.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}



    <h2>Topics</h2>
    {% if entry.topics|length %}
        <ul>
            {% for category in entry.topics.all() %}
                <li>
                    {% if category.level == 2 %}
                        <ul><li>
                    {% endif %}

                    <a href="{{ category.url }}">
                        {{ category.title }}
                    </a>
                    {% if category.level == 2 %}
                        </li></ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %} #}


{% endblock %}