{% extends "_layouts/base" %} 
{% import '_macros/global' as global %}

{% set topBlocks = clone(entry.contentBlocksStandard).limit(3) %}
{% set remainingBlocks = clone(entry.contentBlocksStandard).offset(3).all() %}

{% set podcastShow = entry.podcastShow.level(1).one() %}

{% block content %}

    <section class="space-menu | space-b">

        {# Media Hero #}
        {# Use Podcast Show's Image unless Episode has a card image #}
        {% set cardImage = podcastShow.cardImagePodcast.one() %}
        {% if entry.cardImagePodcast|length %}
            {% set cardImage = entry.cardImagePodcast.one() %}
        {% endif %}
        {{ global.coverImage( cardImage, '-fit-cover -hover-scale' )}}
        
        {# Podcast Player Full #}
        <podcast_player_full title="{{ entry.title }}" url="{{ entry.podcastLink }}" />

    </section>

    {# Layout Notes: 
        First, we grab block 1 from the matrix and wrap that in the first `article.entry-main` element
        Then, we go back out and close `article` element to insert the sidebar
        Lastly, close the `aside` element and reopen `article.entry-main` with the modifier `-wide` 
        This lets us do a 2 things efficiently:
            - Styles force a reorder on small screens to push the sidebar to the bottom and show article content first as one piece.
            - While also letting us get a fullwidth area for the matrix blocks on large screens to accomodate fullbleed elements (like images).
    #}

    {# Article + Aside (top) #}
    <div class="entry-detail-layout | container | space-b | flex-grid">

        {# Content #}
        <article class="entry-main | gutter-xl">
        
            {# Header #}
            <header class="entry__header">
                <h1 class="header-xl | font-serif">{{ entry.title }}</h1>
                {% if entry.shortDescription|length %}
                <div class="paragraphs -md">
                    <p>{{ entry.shortDescription }}</p>
                </div>
                {% endif %}
            </header>

            {# Blocks #}
            <div class="entry__blocks | longform-entry-blocks -top">

                {# Longform Content #}
                {% include '_components/longform-entry-blocks--top' with { classes: '', blocks: topBlocks } %}

            </div>
            
        </article>
        
        {# Aside #}
        <aside class="entry-aside">
            {# Meta List #}
            <ul class="meta-list">
                <li>
                    <time class="meta-label | text-slate-light" datetime="{{ entry.postDate | date( 'm-d-y') }}">{{ entry.postDate | date( 'M d, Y') }}</time>
                </li>
                <li>
                    {{ global.relatedTopics(entry.topics.all(), '') }}
                </li>
                <li>
                    {% include "_components/list-social" with { content: '', classes: '-inline', print: false, share: true } %}
                </li>
                <li>
                    <a href="{{ entry.podcastShow.level(1)[0].url }}" class="link -meta">Browse all Episodes</a>
                </li>
            </ul>
            
            {# Ad #}
            {% include "_components/product-ad" with { content: entry.productAd } %}
            
        </aside>


        {# Article + Aside (bottom) #}
        {% if remainingBlocks|length or entry.citation %}
            
            {# Content #}
            <article class="entry-main -wide">

                {# Blocks #}
                <div class="entry__blocks | longform-entry-blocks">

                    {# Longform Content #}
                    {% include '_components/longform-entry-blocks' with { blocks: remainingBlocks, layoutClasses: 'narrow-block gutter-xl' } %}

                    {# Citation #}
                    {% if entry.citation %}
                        <div class="narrow-block gutter-xl">
                            <div class="article-content entry-footnote">
                                <small>{{ entry.citation }}</small>
                            </div>
                        </div>
                    {% endif %}
                    
                </div>
                
            </article>
            

        {% endif %}
    
    </div>

    {# Related Content #}
    {% include '_components/related-content-cards' with { section: 'podcasts', podcastCard: true } %}


    {# Subscribe Billboard  #}
    {% set podcastShow = entry.podcastShow.level(1)[0] %}
    {% include '_components/billboard--subscribe' with { classes: '-bronze-light', content: podcastShow } %}


{% endblock %}