{% extends "_layouts/base" %} 
{% import '_macros/global' as global %}

{% set purchasableId = craft.app.request.param('purchasableId') %}

{% block content %}
  
{# Article + Aside (top) #}
<div class="entry-detail-layout | container | space-b space-menu | flex-grid">

    {# Content #}
    <article class="entry-main | gutter-xl">
    
        {# Header #}
        <header class="entry__header">
            <h1 class="header-xl | font-serif">{{ entry.title }}</h1>
        </header>

    {# Show redirect message if adding event product to cart #}
    {% if purchasableId %}

        <div class="entry__blocks | longform-entry-blocks">
            Adding event to cart.
        </div>

        <form method="POST" name="auto-add-to-cart" class="add-to-cart-form">
            <input type="hidden" name="action" value="commerce/cart/update-cart">
            {{ redirectInput('shop/checkout') }}
            <input type="hidden" name="qty" value="1">
            {{ csrfInput() }}
            <input type="hidden" name="purchasableId" value="{{ purchasableId }}">
            <input type="submit" hidden/>
        </form>
        <script>
            window.onload = function(){
                document.forms['auto-add-to-cart'].submit();
            }
        </script>

    {% else %}

        {# Blocks #}
        <div class="entry__blocks | longform-entry-blocks -top">

            {% if entry.paidEvent|length %}
                {% set product = entry.paidEvent.first %}
                {# <pre>
                    {{ dump(product) }}
                </pre>
                {% exit %} #}
                <div class="m-10">
                <a href="?purchasableId={{product.defaultVariant.id}}" class="">
                    Buy {{ product.title }} ({{ product.defaultVariant.salePrice|commerceCurrency(cart.currency) }})
                </a>
            {% endif %}
            
        </div>

    {% endif %}
        
    </article>

</div>

{% endblock %}